<a href="https://colab.research.google.com/github/huynhhoc/AdvancedPythonProgramming/blob/main/Lab02/Lab02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chương 8
Câu 4
Insert 4499 in the list after 9362

In [ ]:
ids = [4353, 2314, 2956, 3382, 9362, 3900]
ids.remove(3382)
print(ids)
index1=ids.index(9362)
print(index1)
ids.insert(4,4499)
print(ids)
list2 = [5566,1830]
ids.extend(list2)
print(ids)
ids.reverse() # dao nguoc
print(ids)
ids.sort() # sap xep
print(ids)

Câu 6: Using slicing, create two new lists, cool_temps and warm_temps, which
contain the temperatures below and above 20 degrees Celsius, respectively

In [ ]:
temps = [25.2,16.8, 31.4, 23.9, 28, 22.5,19.6]
temps.sort()
print(temps)
temps_hot= []
temps_cool = []
for i in temps:
  if (i> 20):
    temps_hot.append(i)
  if (i<20):
    temps_cool.append(i)

print(temps_hot)
print(temps_cool)

Using list arithmetic, recombine cool_temps and warm_temps into a new
list called temps_in_celsius

In [ ]:
temps_in_celsius = []
temps_in_celsius.extend(temps_cool)
temps_in_celsius.extend(temps_hot)
print(temps_in_celsius)

# Chương 9
1. Write a for loop to print all the values in the celegans_phenotypes list, one
per line. celegans_phenotypes refers to ['Emb','Him', 'Unc', 'Lon', 'Dpy',
'Sma']

In [ ]:
celegans_phenotypes = ['Emb','Him', 'Unc', 'Lon', 'Dpy', 'Sma']
for i in celegans_phenotypes:
  print(i)

3. Write a for loop to add 1 to all the values from whales, and store the
converted values in a new list called more_whales. The whales list shouldn’t
be modified. whales refers to [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3].

In [ ]:
whales =  [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
more_whales = []
for count in whales:
 more_whales.append(count + 1)
print(more_whales)

In [1]:
whales =  [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
for index, value in enumerate(whales):
 whales[index] = value +1
print(whales)

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

Câu 7:Consider the following statement, which creates a list of populations of
countries in eastern Asia (China, DPR Korea, Hong Kong, Mongolia,
Republic of Korea, and Taiwan) in millions: country_populations = [1295,
23, 7, 3, 47, 21]. Write a for loop that adds up all the values and stores them
in variable total. (Hint: Give total an initial value of zero, and, inside the
loop body, add the population of the current country to total.)

In [ ]:
country_popumes = [['China',1295],['DPR Korea',23],['Hong Kong',7],['Mongolia',3],['Republic of Korea',47],['Taiwan',21]]
total = 0
for i in country_popumes:
  total += i[1]
print('Tổng dân số của các nước Đông á là: ',total)

Câu 8

In [2]:
w_rat1 = [7,2,3,6,5,9,4,6,1,9]
w_rat2 = [6,4,6,1,6,8,3,4,5,1]
for i in range(10):
  if (w_rat1[i] > w_rat2[i]):
    print("Rat 1 weighed more than rat 2 on day ",i+1)
  else:
    print("Rat 1 weighed less than rat 2 on day ",i+1)

Rat 1 weighed more than rat 2 on day  1
Rat 1 weighed less than rat 2 on day  2
Rat 1 weighed less than rat 2 on day  3
Rat 1 weighed more than rat 2 on day  4
Rat 1 weighed less than rat 2 on day  5
Rat 1 weighed more than rat 2 on day  6
Rat 1 weighed more than rat 2 on day  7
Rat 1 weighed more than rat 2 on day  8
Rat 1 weighed less than rat 2 on day  9
Rat 1 weighed more than rat 2 on day  10

In [5]:
w_rat1 = [7,2,3,6,5,9,4,6,1,9]
w_rat2 = [6,4,6,1,6,8,3,4,5,1]
for day, (wrat1, wrat2) in enumerate(zip(w_rat1, w_rat2)):
  if wrat1 > wrat2:
    print("Rat 1 weighed more than rat 2 on day ",day+1)
  else:
    print("Rat 1 weighed less than rat 2 on day ",day+1)

Rat 1 weighed more than rat 2 on day  1
Rat 1 weighed less than rat 2 on day  2
Rat 1 weighed less than rat 2 on day  3
Rat 1 weighed more than rat 2 on day  4
Rat 1 weighed less than rat 2 on day  5
Rat 1 weighed more than rat 2 on day  6
Rat 1 weighed more than rat 2 on day  7
Rat 1 weighed more than rat 2 on day  8
Rat 1 weighed less than rat 2 on day  9
Rat 1 weighed more than rat 2 on day  10